@model MeetingInfo

<main class="text-center">


<h1 class="h4">@ViewData["karşılama"] , @ViewData["name"]</h1>
<p>Toplantı Katılım Durumunuzu bildiriniz.</p>

<div class="card my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşicektir.</li>
        <li class="list-group-item">@Model.NumberOfPeople Katılımcı Katılabilir</li>
    </ul>
</div>
<a asp-controller="Meeting" asp-action="Apply" class="btn btn-sm btn-outline-primary">Başvuru Yap</a>

</main>